<html>
  {% load static %}
<head>
  <script src='https://cdn.scaledrone.com/scaledrone.min.js'></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
  <script type="text/javascript">
    function changeImg(imgNumber) {
        document.body.style.backgroundImage = 'url(https://source.unsplash.com/1600x800/?nature,land,sky,forest,flower)';
    }
    window.onload = changeImg;
    </script>
    
    <link rel="stylesheet" href="{% static 'css/video.css' %}" />
  <style>
    body {
      display: flex;
      height: 100vh;
      background-size:cover;
      margin: 0;
      align-items: center;
      justify-content: center;
      padding: 0 50px;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }
    video {
      max-width: calc(50% - 100px);
      margin: 0 50px;
      height:80%;
      box-sizing: border-box;
      border-radius: 2px;
      padding: 0;
      background: white;
    }
    .copy {
      position: fixed;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 16px;
      color: white;
    }
    
    .copy2 {
      position: fixed;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 16px;
      color: white;
    }
  </style>
</head>
<body>
  <!-- <div class="copy">Send your URL to a friend to start a video call</div> -->
  {% if curruser %}
  <div class="copy" style="background-color: white;color:black;font-size: 200%;">
  <b><label>{{curruser.username}}</label></b>
  </div>

  <div class="copy2">
    <div class="options">
      <div class="options__left">
          <div id="stopVideo" class="options__button">
              <i class="fa fa-video-camera" onclick="startStop();"></i>
          </div>
          <div id="muteButton" class="options__button">
              <i class="fa fa-microphone" onclick="muteUnmute();"></i>
          </div>
      </div>
      <div class="options__center">
          <div id="leaveMeeting" class="options__button">
              <a href="#" onclick="close_window();" style="color: white;"> <i class=" fa fa-times "></i></a>
              <!-- <span class=" ">Leave Meeting</span> -->
          </div>
      </div>

      <div class="options__right">
          <div id="inviteButton" class="options__button">
              <i class="fas fa-user-plus" onclick="invite();"></i>
          </div>
      </div>
  </div>
  </div>

  {% endif %}

  <video id="localVideo" id="video" autoplay muted></video>
  <video id="remoteVideo" autoplay></video>
  
  <script type="text/javascript" src="{% static 'js/video.js' %}"></script>
  <script>
  
  // Generate random room name if needed
if (!location.hash) {
  location.hash = Math.floor(Math.random() * 0xFFFFFF).toString(16);
}
const roomHash = location.hash.substring(1);
  
// TODO: Replace with your own channel ID
const drone = new ScaleDrone('NgcwJL44EZphBZh4');
// Room name needs to be prefixed with 'observable-'
const roomName = 'observable-' + roomHash;
const configuration = {
  iceServers: [{
    urls: 'stun:stun.l.google.com:19302'
  }]
};
let room;
let pc;
  
  
function onSuccess() {};
function onError(error) {
  console.error(error);
};
  
drone.on('open', error => {
  if (error) {
    return console.error(error);
  }
  room = drone.subscribe(roomName);
  room.on('open', error => {
    if (error) {
      onError(error);
    }
  });
  // We're connected to the room and received an array of 'members'
  // connected to the room (including us). Signaling server is ready.
  room.on('members', members => {
    console.log('MEMBERS', members);
    // If we are the second user to connect to the room we will be creating the offer
    const isOfferer = members.length === 2;
    startWebRTC(isOfferer);
  });
});
  
// Send signaling data via Scaledrone
function sendMessage(message) {
  drone.publish({
    room: roomName,
    message
  });
}
  
function startWebRTC(isOfferer) {
  pc = new RTCPeerConnection(configuration);
  
  // 'onicecandidate' notifies us whenever an ICE agent needs to deliver a
  // message to the other peer through the signaling server
  pc.onicecandidate = event => {
    if (event.candidate) {
      sendMessage({'candidate': event.candidate});
    }
  };
  
  // If user is offerer let the 'negotiationneeded' event create the offer
  if (isOfferer) {
    pc.onnegotiationneeded = () => {
      pc.createOffer().then(localDescCreated).catch(onError);
    }
  }
  
  // When a remote stream arrives display it in the #remoteVideo element
  pc.onaddstream = event => {
    remoteVideo.srcObject = event.stream;
  };
  
  navigator.mediaDevices.getUserMedia({
    audio: true,
    video: true,
  }).then(stream => {
    // Display your local video in #localVideo element
    localVideo.srcObject = stream;
    // Add your stream to be sent to the conneting peer
    pc.addStream(stream);
  }, onError);
  
  // Listen to signaling data from Scaledrone
  room.on('data', (message, client) => {
    // Message was sent by us
    if (client.id === drone.clientId) {
      return;
    }
  
    if (message.sdp) {
      // This is called after receiving an offer or answer from another peer
      pc.setRemoteDescription(new RTCSessionDescription(message.sdp), () => {
        // When receiving an offer lets answer it
        if (pc.remoteDescription.type === 'offer') {
          pc.createAnswer().then(localDescCreated).catch(onError);
        }
      }, onError);
    } else if (message.candidate) {
      // Add the new ICE candidate to our connections remote description
      pc.addIceCandidate(
        new RTCIceCandidate(message.candidate), onSuccess, onError
      );
    }
  });
}
  
function localDescCreated(desc) {
  pc.setLocalDescription(
    desc,
    () => sendMessage({'sdp': pc.localDescription}),
    onError
  );
}
  </script>
</body>
</html>